In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost
import warnings
warnings.filterwarnings(action='ignore')

In [4]:
%pwd

'/Users/hhi/New_Programming/dacon/bycicle'

# 데이터 받기 전 생각

데이터에는, 일별 온도, 습도, 강수량 등 일기 예보 데이터를 통해서 따릉이 대여량을 예측하는 것이다. 
(날짜(일), 풍향, 하늘 상태, 강수 형태, 풍속, 습도, 최저 기온, 최고 기온, 강수 확률,)(따릉이 대여량) 


- 내 생각에는, 다양한 데이터를 통해서 새로운 칼럼을 생성해서 학습을 시켜야된다고 생각이 듦. 
예를들면, 최고 기온과 최저 기온을 생각해보자면, 사람들이 따릉이를 대여하는 시간 자체는 낮시간일 것으로 유추가 됨. -> 평균 기온을 통해서 어떻게 하면 되지 않을까 생각이 드는데.... 정확하게는 모르겠지만 대충 그런 생각이 듦. 

- 비오는 날
비오는 날에는 아무래도 대여를 많이 안하겠지뭐... 강수 형태가 중요하다고 생각이 든다. 강수형태가 어떻게 되어있는지에 따라서... 대여 량도 많이 변할거 같은데. 

- 공휴일
공휴일에 따릉이를 타는 사람이 많아 질 것으로 예상이 된다. 주말에도 많아 질 것 같은데, 이건 아마도... 반복되는 패턴이 있기 때문에 알아서 패턴을 이해하지 않을까 싶음.

# 기상 데이터는 하루에 총 8번, 3시간 간격으로 발표되는 기상 단기 예보 데이터를 1 일 평규능로 변환한 데이터 입니다. 

## sky_condition : 하늘 상태, 
### 1 : 맑음 3 : 구름 많음, 4: 흐림


## precipitation_form : 강수 형태, 
### 0 : 없음, 1.  비, 2 : 진눈깨비, 3 : 눈, 4 : 소나기
ex) 0.5 인 경우, 하루의 절반은 비가 올 것으로 예측하고, 나머지 절반은 맑을 것으로 예측했다. 라는 의미로 해석하면됨.

In [5]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
sub = pd.read_csv('sample_submission.csv')
# train.drop(['id'], axis = 1, inplace = True)

# test data set : 2021-04-01 ~ 2021-06-30

In [11]:
test.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability
0,2021-04-01,108.833,3.000,0.000,2.900,28.333,11.800,20.667,18.333
1,2021-04-02,116.717,3.850,0.000,2.662,46.417,12.000,19.000,28.500
2,2021-04-03,82.669,4.000,0.565,2.165,77.258,8.875,16.368,52.847
3,2021-04-04,44.123,3.466,0.466,3.747,63.288,6.250,17.368,37.671
4,2021-04-05,147.791,1.500,0.000,1.560,48.176,7.188,18.684,4.459

# train data set : 2018-04-01 ~ 2020-06-30

In [7]:
train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833

In [8]:
sub.head()

    date_time  number_of_rentals
0  2021-04-01                  0
1  2021-04-02                  0
2  2021-04-03                  0
3  2021-04-04                  0
4  2021-04-05                  0

In [15]:
train.describe()

,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
count,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000
mean,202.750967,2.288256,0.100963,2.480963,56.745491,13.795249,23.384733,16.878103,59574.978022
std,56.659232,0.961775,0.203193,0.884397,12.351268,5.107711,5.204605,16.643772,27659.575774
min,57.047000,1.000000,0.000000,0.753000,24.831000,1.938000,9.895000,0.000000,1037.000000
25%,171.541000,1.405000,0.000000,1.820000,47.196000,9.938000,19.842000,4.054000,36761.000000
50%,209.774000,2.167000,0.000000,2.411000,55.845000,14.375000,24.158000,12.162000,63032.000000
75%,238.412000,3.000000,0.088000,2.924000,66.419000,18.000000,27.526000,22.973000,81515.000000
max,321.622000,4.000000,1.000000,5.607000,88.885000,22.312000,33.421000,82.162000,110377.000000

# EDA 를 해보자.

## 공휴일을 생각해야됨을 계속해서 인지하고 있자!